/* JavaScript & jQuery - Chapter 3: Functions, Methods & Programming */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
	background-color: #fff;
	background: url("../images/background.jpg") no-repeat center center fixed;
	background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	background: #1e1b1e url("../images/travelworthy-logo.gif");
	color: grey;
	width: 230px;
	height: 180px;
	float: left;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
}
#message {
	float: lkeft;
	clear: left;
	background-color: #ffb87a;
	color: #1e1b1e;
	width: 170px;
	padding: 18px 30px;
    text-align: center;
}
